<%= if @current_user do %>
    <!--  gettext is used for internationalization -->
    <h2><%= gettext "Welcome to %{name}!", name: @current_user.name %></h2>
    <%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "btn btn-info" %>
  <% else %>
    <h2>You are Not Logged In</h2>
    <%= link "Login", to: session_path(@conn, :new), class: "btn btn-default" %>
    <%= link "Register", to: registration_path(@conn, :new), class: "btn btn-primary" %>
<% end %>
